.DS_Store
daytimeserver/.idea/*
*/.deps/*
*/*.cache/*
CMakeCache.txt
*/cmake-build-debug/*
*.log
udp_examples/echo_server.o
udp_examples/echo_client.o
daytimeserver/Socket.o
daytimeserver/daytime_server.o
daytimeserver/daytime_client.o
daytimeserver/daytime_client
daytimeserver/daytime_server
daytimeserver/configure
daytimeserver/Makefile
daytimeserver/Makefile.in
udp_examples-base/Makefile.in
udp_examples/Makefile
udp_examples/Makefile.in
udp_examples-1.1/.idea/workspace.xml
tcp_examples/discard_server
tcp_examples/discard_server.o
tcp_examples/echo_server.o
tcp_examples/echo_server
tcp_examples/chargen_server.o
tcp_examples/chargen_server
dns/config.status
dns/getaddresses
dns/getaddresses.o
*.o
connect_four/config.guess
connect_four/config.status
connect_four/config.sub
connect_four/aclocal.m4
connect_four/connect_four_server
connect_four/connect_four_client
5
